@page "/"
@inject HttpClient HttpClient

<div class="main">
    <Spin Spinning="loading">
        @if (specials != null)
        {
            <div style="display: flex; flex-wrap: wrap;">
                @foreach (var special in specials)
                {
                    <Card Loading="loading" Hoverable Style="width: 23%;margin:1%">
                        <Cover>
                            <img src="@special.ImageUrl" style="height:250px" />
                        </Cover>
                        <ChildContent>
                            <div style=" display: flex; flex-direction: row; justify-content: space-between; margin: -12px;">
                                <CardMeta Title="@special.Name" Description="@special.GetFormattedBasePrice()" />
                            </div>
                        </ChildContent>
                    </Card>
                }
            </div>
        }
    </Spin>
</div>

@code {
    List<PizzaSpecial> specials;
    bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("specials");
        loading = false;
    }
}