@inherits LayoutComponentBase
<div style="display:flex;flex-direction:column;height:100vh">
    <Menu Mode=MenuMode.Horizontal Theme="MenuTheme.Dark">
        <a class="logo" href="">
            <img src="img/logo.svg" />
        </a>
        <MenuItem RouterMatch="NavLinkMatch.All" RouterLink="">
            <img class="bar-img" src="img/pizza-slice.svg" />
            Get Pizza
        </MenuItem>
        <AuthorizeView>
            <MenuItem RouterLink="myorders">
                <img class="bar-img" src="img/bike.svg" />
                My Orders
            </MenuItem>
        </AuthorizeView>
    </Menu>
    <div style="flex-grow: 1;">
        @Body
    </div>
</div>