
<Card Size="small" Style="width:100%;margin-bottom:5px">
    <TitleTemplate>
        @(Pizza.Size)" @Pizza.Special.Name
    </TitleTemplate>
    <Extra>
        <Icon Type="close" Theme="outline" OnClick="OnRemoved" />
    </Extra>
    <Body>
        @foreach (var topping in Pizza.Toppings)
        {
            <Text>+ </Text>@topping.Topping.Name <br />
        }
        <Statistic Value="@Pizza.GetFormattedTotalPrice()" Prefix="￥" />

    </Body>

</Card>

@code {
    [Parameter] public Pizza Pizza { get; set; }
    [Parameter] public EventCallback OnRemoved { get; set; }
}