@inherits LayoutComponentBase

<Menu Mode=MenuMode.Horizontal Theme="MenuTheme.Dark">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>
    <MenuItem RouterMatch="NavLinkMatch.All" RouterLink="">
        <img src="img/pizza-slice.svg" />
        Get Pizza 
    </MenuItem>
    <AuthorizeView>
        <MenuItem RouterLink="myorders">
            <img src="img/bike.svg" />
            My Orders
        </MenuItem>
    </AuthorizeView>
    <LoginDisplay />
</Menu>
<div class="content">
    @Body
</div>
